a {
  text-decoration: none;
  color: #808080;
}
ul {
  padding: 0;
}
li:hover,
a:hover {
  color: #ee7463;
  transform: scale(1.1);
  transition: all 0.4s ease 0.1s;
}

.page {
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #808080;
}
.container {
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER ----------------------*/
.header {
  /* background-color: #000; */
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.nav {
  /* background-color: #2d4059; */
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}
.logo {
  /* background-color: #ea5455; */
  max-width: 20%;
  /* height: 20px; */
  margin: 0;
}
.menu {
  /* background-color: #ea5455; */
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social {
  /* background-color: #ea5455; */
  width: 20%;
  height: 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  height: 12vh;
  padding: 20px;
  /* background-color: #f07b3e; */
  background: url(../images/header.webp) no-repeat bottom center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.hero__title {
  /* background-color: #fed45f; */
  height: 20px;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ee7363ca;
}

/*MAIN ----------------------*/
.main {
  background-color: #f5f1f1;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
}
.articles {
  background-color: #d8d7d7;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
}
.article {
  background-color: #f5f1f1;
  min-height: 50vh;
  max-height: 85vh;
  padding: 10px;
  margin-bottom: 20px;
}

.article-img-container {
  /* max-height: 40vh; */
  object-fit: cover;
  position: relative;
}
/* .article__img {
  width: 100%;
} */
.article__date {
  color: #ffe893;
  position: absolute;
  bottom: 0.2rem;
  padding-left: 5px;
}
.article__title {
  background-color: #f08080;
  height: 2.6rem;
  line-height: 2.9rem;
  padding-left: 5px;
  color: #f5f1f1;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
.article__content {
  padding-left: 5px;
}
.article__more {
  padding-left: 5px;
}
.main-info {
  /* background-color: #a3ddcb; */
  height: 100%;
  padding: 0 10px;
  text-align: center;
  color: rgb(68, 68, 68);
  margin-bottom: 0;
  width: 100%;
}
.main-info__text {
  margin-bottom: 0;
}
.aside {
  background-color: #d8d7d7;
  height: 100%;
  padding: 20px;
  text-align: center;
  color: rgb(68, 68, 68);
}
.aside__title {
  /* background-color: #fdb36b; */
  height: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}
.aside__text {
  background-color: #fdb36b;
  height: 20px;
  font-weight: 300;
}

/*FOOTER ----------------------*/
.footer {
  background-color: #d8d7d7;
  width: 100%;
  height: 5vh;
  padding: 0 20px;
  text-align: center;
}
.footer__text {
  background-color: #f5f1f1;
  margin: 0;
  height: 5vh;
  line-height: 5vh;
}

/* MEDIAQUERIES -----------*/

/* TABLET -----------------*/

@media all and (min-width: 768px) {
  .header {
    height: 320px;
    background: url(../images/header.webp) no-repeat bottom center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .nav {
    height: 8vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }
  .logo {
    max-width: 4rem;
    margin-right: 20px;
    margin-bottom: 0;
    flex-grow: 1;
  }
  .menu {
    width: auto;
    margin: 0;
    flex-grow: 3;
    justify-content: space-evenly;
  }
  .social {
    max-width: 4rem;
    margin-left: 20px;
    flex-grow: 1;
  }
  .hero {
    background: none;
  }
  .hero__title {
    font-size: 1.5rem;
  }
  .main {
    /* background-color: #fdff00; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 20vh;
  }
  .articles {
    width: 100%;
    min-height: 100%;
    margin-bottom: 20px;
    /* background-color: #4e4e6a; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .article {
    width: 48%;
    /* background-color: #1e6caf; */
  }

  /* .article__info {
    background-color: #70a3c4;
    width: 100%;
  } */
  .article__content {
    column-count: 2;
    column-gap: 1rem;
  }
  .aside {
    width: 100%;
    height: auto;
    /* background-color: #f73f52; */
  }
  .aside__title {
    /* background-color: #feea85; */
  }
  .aside__text {
    /* background-color: #feea85; */
  }
  .footer__text {
    /* background-color: #e6af2f; */
  }
}

/* DESKTOP -----------------*/

@media (min-width: 1200px) {
  .nav {
    font-size: 1rem;
  }
  .main {
    /* background-color: #000; */
    flex-direction: row;
    height: auto;
    align-items: flex-start;
  }
  .articles {
    margin-bottom: 0;

    /* min-height: 15vh; */
  }
  .aside {
    width: 36vw;
    margin-left: 20px;
  }
}
