a {
  text-decoration: none;
  color: #808080;
}
ul {
  padding: 0;
}
li:hover,
a:hover {
  color: #ee7463;
  transform: scale(1.1);
  transition: all 0.4s ease 0.1s;
}
.page {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #808080;
  overflow-x: hidden;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
.minipadding {
  padding: 1rem;
}
.nav {
  font-size: 0.7rem;
  justify-items: center;
}
.nav__logo {
  display: grid;
  justify-items: center;
}
.nav__logo img {
  max-width: 12%;
}
.nav__menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
}
.nav__rrss {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-evenly;
}
.hero {
  display: grid;
  grid-template-rows: 5em;
  align-items: center;
  background: url(../images/header.webp) no-repeat 50% 70% / cover;
  margin-bottom: 1rem;
}
.hero__title {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #ee7363ca;
  /* margin: 1.5rem 0; */
}
.main {
  background-color: #f5f1f1;
}
.articles {
  background-color: #d8d7d7;
  margin-bottom: 1rem;
}
.article {
  background-color: #f5f1f1;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.article-img-container {
  position: relative;
}

.article__date {
  color: #ffe893;
  position: absolute;
  bottom: 0.2rem;
  padding-left: 0.5rem;
}
.article__title {
  background-color: #f08080;
  height: 2.6rem;
  margin-top: 0.2rem;
  line-height: 3.5rem;
  padding-left: 0.5rem;
  color: #f5f1f1;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
}
.article__content {
  padding: 0 0.5rem;
}
.article__more {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  display: inline-block;
}
.main-info {
  padding: 0 0.5rem;
  text-align: center;
  color: rgb(68, 68, 68);
}
.main-info__text {
  margin-bottom: 0;
}
.aside {
  background-color: #d8d7d7;
  text-align: center;
  color: rgb(68, 68, 68);
}

/*FOOTER ----------------------*/
.footer {
  background-color: #d8d7d7;
  margin-top: 1rem;
  padding: 0 1rem;
  text-align: center;
  height: 2em;
}
.footer__text {
  background-color: #f5f1f1;
  margin: 0;
  line-height: 2em;
  /* line-height: 2rem; */
  /* height: 100%; */
}
