.page {
  width: 100vw;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.minipadding {
  padding: 1rem;
}

.header {
  background-color: #000;
  width: 100%;
  margin-bottom: 1rem;
}
.nav {
  background-color: #2d4059;
  margin-bottom: 1rem;
}
.item {
  background-color: #ea5455;
  height: 1rem;
  margin-bottom: 1rem;
}
.item:last-child {
  margin-bottom: 0;
}
.hero {
  background-color: #f07b3e;
}
.hero__title {
  background-color: #fed45f;
  height: 1rem;
  margin: 0;
}

.main {
  background-color: #fee227;
  margin-bottom: 1rem;
}
.articles {
  background-color: #0a506f;
  margin-bottom: 1rem;
}
.article {
  background-color: #60959c;
  height: 1rem;
  margin-bottom: 1rem;
}
.article__info {
  background-color: #a3ddcb;
  height: 1rem;
}
.aside {
  background-color: #fd7b54;
}
.aside__title {
  background-color: #fdb36b;
  height: 1rem;
  margin-bottom: 1rem;
}
.aside__text {
  background-color: #fdb36b;
  height: 1rem;
}

.footer {
  background-color: #000;
}
.footer__text {
  background-color: #fdc763;
  height: 1rem;
}

/* TABLET ==========================*/

@media all and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .logo {
    margin-right: 1rem;
    margin-bottom: 0;
    flex-grow: 1;
  }
  .menu {
    margin-bottom: 0;
    flex-grow: 3;
  }
  .social {
    margin-left: 1rem;
    flex-grow: 1;
  }
  .main {
    background-color: #fdff00;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles {
    width: 100%;
    background-color: #4e4e6a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .article {
    width: 48%;
    background-color: #1e6caf;
  }
  .article__info {
    background-color: #70a3c4;
    width: 100%;
  }
  .aside {
    width: 100%;
    background-color: #f73f52;
  }
  .aside__title,
  .aside__text {
    background-color: #feea85;
  }

  .footer__text {
    background-color: #e6af2f;
  }
}

/* DESKTOP -----------------*/

@media (min-width: 1200px) {
  .main {
    background-color: #000;
    flex-direction: row;
    height: 15%;
  }
  .articles {
    margin-bottom: 0;
    height: 100%;
  }
  .aside {
    width: 36%;
    margin-left: 1rem;
    height: 100%;
  }
}
